@import 'tailwindcss';


@theme{
  --color-primary:#0A174E;
  --color-background:#22123C;
  --color-text:#ffffff;


}


@layer Components{

 
  .container
  {
      @apply container mx-auto max-w-[1920px];
  }


   .viewdetails-btn{
    @apply bg-background text-white text-[8px]  md:text-[15px] py-2 px-3 md:py-3 md:px-6.25 rounded-md transition-all duration-300 ease-in-out cursor-pointer;

  }
   .viewdetails-btn:hover{
    @apply bg-background shadow-lg scale-105 brightness-110;
  }

  .buynow-btn{
    @apply bg-[#034C36] text-white text-[8px]  md:text-[15px]  py-2 px-3 md:py-3 md:px-6.25 rounded-md transition-all duration-300 ease-in-out cursor-pointer;
  }
  .buynow-btn:hover{
    @apply bg-[#003332] shadow-lg scale-105 brightness-110;
  }

}

  

